li{
    display: inline-block;
    float: left;
  
}

a {        
    display: block;
    padding: 4px;
    background-color: #dddddd;

  }

  ul {

    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
  top: 0;
  }


  li h6:hover {
    background-color: teal;
   
  }

  .active {
background-color: teal;
  }

  li h6 {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 120px;
    text-decoration: none;
    font-weight: bold;

   
  }

  .hide{
      opacity: 0.5;
  }

