@import './body.scss';

.log button{
    background-color: $hoverCol;
    &:hover{
        background-color:$buttonBack ;
    }
}

table{
    background-color: rgb(49, 47, 47);
}

table th {
    background-color: silver;
}

table td {
    color: tomato;
}
 